<div class="card">
  <div class="card-header">
    <div class="col-md-8">
      {{ listuser }}
    </div>
    <button class="btn btn-secondary" routerLink="add">Create</button>
    <div class="col-md-4">
      <app-search
        style="float: right;"
        (searchoutput)="search($event)"
      ></app-search>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of user_search; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ user.name }}</td>
          <td>
            {{ user.email }}
          </td>
          <td>{{ user.address }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="[user.id, 'edit']">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
